html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	background: url(../img/bg_texture.png) repeat;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.clear-left {
	clear: left;
}
.clear-right {
	clear: right;
}
.clear-both {
	clear: both;
}
.main-view {
	width: 80%;
	border-right: 1px solid #eee;
	box-sizing: border-box;
	padding: 0 1%;
}
.aside {
	width: 18%;
	padding: 0 1%;
}
.heading {
	color: #fff;
}
.err-msg {
	color: red;
	font-size: 12px;
}
.note {
	border: 1px solid #eee;
	border-radius: 2px;
	padding: 10px;
	width: 150px;
	height: 100px;
	background: #F8EB75;
	color: #111;
	margin: 5px;
}
.office, .personal {
	min-height: 300px;
	border-bottom: 1px solid #eee;
}
.office-form, .personal-form {
	min-height: 300px;
	border-bottom: 1px solid #eee;
}
.personal-container {
	position: relative;
	min-height: 300px;
}
.office .note {
	float: left;
}
.personal .note {
	position: absolute;
	bottom: 0;
	right: 0;
}
.topForm {
	clear: both;
	margin-top: 20px;
}