html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	background: url(../img/bg_texture.png) repeat;
}
input {
	padding: 5px;
	margin: 5px 0 2px 0;
}
select {
	margin: 5px 0 2px 0;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.clear-left {
	clear: left;
}
.clear-right {
	clear: right;
}
.clear-both {
	clear: both;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 5px 10px;
  text-decoration: none;
  border: none;
  margin: 10px 0;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.main-view {
	width: 80%;
	border-right: 1px solid #eee;
	box-sizing: border-box;
	padding: 0 1%;
}
.aside {
	width: 18%;
	padding: 0 1%;
}
.heading {
	color: #fff;
}
.err-msg {
	color: red;
	font-size: 12px;
}
.note {
	border: 1px solid #DEDEDE;
	border-radius: 2px;
	padding: 10px;
	width: 150px;
	height: 100px;
	background: #F8EB75;
	color: #111;
	margin: 5px;
	font-size: 13px;
}
.office, .personal {
	min-height: 300px;
	border-bottom: 1px solid #eee;
}
.office-form, .personal-form {
	min-height: 300px;
	border-bottom: 1px solid #eee;
}
.personal-container {
	position: relative;
	min-height: 256px;
}
.office .note {
	float: left;
}
.personal .note {
	position: absolute;
	bottom: 0;
	right: 0;
}
.topForm {
	clear: both;
	margin-top: 20px;
}